
body {
  background-color:rgb(103, 236, 185);
}
input, textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(36, 34, 34);
    font-family: 'Play', sans-serif;
    padding-top: 5%;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    background: transparent;
}

.description {
  padding-top: 10%;
}

button[type = submit] {
    border: none;
    width: 190px;
    background: rgb(224, 120, 94);
    color: #ffffff;
    line-height: 25px;
    padding: 10px 0px;
    margin: 20px auto;
}



.abt_content {
    width: 90%;
    padding-top: 0.5em;
  }
  
.group {
  margin: 5% auto;
  padding: 10px;
  background-color: #fff;
  opacity: 0.9;
  width: 80%;
  overflow: auto;
  /* border-color: #fff; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.group h1 {
  margin-left: 5%;
  margin-top: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.survey {
  width: 58%;
  float: left;
  margin-left: 5%;
}

.presentation {
  /* width:30%; */
  overflow: hidden;
  margin-right: 10%;
}

.vl {
  float: left;
  border-left: 1px solid rgb(209, 226, 226);
  margin: 4%;
  height: 20em;
}

.firstname {
  float: left;
  width: 45%;
  margin-right: 10%;
}

.lastname {
  overflow:hidden;
}